# Backend Server Environment Variables
PORT=5000
NODE_ENV=development

# Database & Auth
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/dr_qh_khan_clinic?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_super_secret_access_token_key_32chars
JWT_REFRESH_SECRET=your_super_secret_refresh_token_key_32chars

# Local Development Origins
WEBSITE_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001

# Production Deployed Origins
PROD_WEBSITE_URL=https://www.theqhkhanclinic.com
PROD_ADMIN_URL=https://dr-qhkhan-admin.vercel.app
